@font-face {
  font-family:OpenSans;
  src:url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight:700;
  font-style:normal;
}

@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

* {
  padding:0;
  margin:0;
  box-sizing:border-box;
}

a {
  text-decoration:none;
}

li {
  letter-spacing:normal;
  text-align:left;
  display:inline-block;
}
input:focus {
outline: none;
}

.menu_one {
  display:flex;
  gap:35px;
}

h1,h2,h3,h4 {
  font-weight:700;
  text-transform:uppercase;
}

.menu_item,.trend,.post_title,.news_item_title,.header_email,.product__title {
  text-transform:uppercase;
  font-stretch:normal;
  font-style:normal;
  line-height:normal;
  letter-spacing:normal;
}
.menu_item:hover {
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#menu__toggle {
  opacity: 0;
}

.menu_item {
  font-size:13px;
  font-weight:400;
  text-align:center;
  color:#fff;
}

.header {
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/banner-bg.jpg) no-repeat;
  background-size:cover;
  background-color:#000;
  min-height:450px;
  background-position:center center;
  color:#fff;
  text-align:center;
  margin-bottom:64px;
  position:relative;
  margin-left:auto;
  margin-right:auto;
}


body {
  margin:0 auto;
  font-family:OpenSans;
}

.logo {
  position:relative;
  z-index:2;
  width:179px;
  height:40px;
  object-fit:contain;
}

.menu {
  position:relative;
  z-index:2;
  max-width:1200px;
  display:flex;
  justify-content:space-between;
  gap:35px;
  padding:40px 15px;
  font-size:13px;
  margin-left:auto;
  margin-right:auto;
  text-transform:uppercase;
}

.header_now_trend {
  margin:0 auto 30px;
  padding-bottom:14px;
  position:relative;
  text-transform:uppercase;
  text-align: center;
}

.one_trend {
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/trend1.jpg) no-repeat;
}

.two_trend {
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/trend2.jpg) no-repeat;

}

.three_trend {
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/trend3.jpg) no-repeat;

}

.four_trend {
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/trend4.jpg) no-repeat;
}

.one_trend, .two_trend, .three_trend, .four_trend {
  background-position:center;
  background-size:cover;
  background-color:#000;
  display:flex;
  font-size:20px;
  flex-direction:column;
  text-transform:uppercase;
  min-height:320px;
  justify-content:flex-end;
}



.trend {
  color:#FFF;
}

.trend_tag {
  color:#b59f5b;
  font-size:14px;
  font-weight:700;
}

.trend_title {
  border:2px solid #b59f5b;
  padding:30px;
  margin:0 20px 15px;
}

.about {
  position:relative;
  z-index:2;
  text-align:center;
  margin:15px auto;
  font-size:44.5px;
  font-stretch:normal;
  font-style:normal;
  line-height:1.69;
  letter-spacing:normal;
  color:#fff;
}

.content {
  display:flex;
  flex-flow:column;
  align-self:baseline;
  align-content:flex-start;
}

.site {
  display:flex;
  justify-content:space-between;
  margin:0 auto;
}

.post_tag {
  text-decoration:none;
  text-transform:uppercase;
  font-size:14px;
  font-weight:700;
  color:#b59f5b;
  text-align:left;
}

.post_title {
  display:inline-block;
  text-decoration:none;
  text-transform:uppercase;
  font-stretch:normal;
  font-style:normal;
  line-height:1.35;
  letter-spacing:.4px;
  text-align:left;
  color:#0f0d0e;
  margin:0 0 15px;
}
.post_title:hover, .news_item_title:hover {
  text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee;
  }
.post_author {
  display:block;
  font-size:11.5px;
  color:#888;
  margin-bottom:30px;
}

.author {
  font-size:11.5px;
  font-weight:700;
  font-stretch:normal;
  font-style:normal;
  line-height:3.4;
  letter-spacing:normal;
  text-align:left;
  color:#000;
  margin:0 0 0 10px;
}

.post_text {
  font-size:15px;
  font-weight:400;
  font-stretch:normal;
  font-style:normal;
  line-height:1.57;
  letter-spacing:normal;
  text-align:left;
  color:#0f0d0e;
}

.post {
  display:flex;
  margin:0 auto 60px;
}

.post_img {
  min-width:380px;
  max-width: 380px;
  object-fit:contain;
  align-self: flex-start;
}

.news {
  display:flex;
  margin-top:22px;
}

.news_content {
  margin-left:15px;
}

.header_news {
  display:block;
  margin:0 auto 30px;
  padding-bottom:14px;
  position:relative;
  width:130px;
  text-align:center;
  letter-spacing:normal;
  font-size:15px;
  text-transform:uppercase;
  line-height:0.6;
}

.header_news::after {
  position:absolute;
  content:"";
  background-color:rgba(181,159,91,0.4);
  bottom:-5px;
  width:65px;
  height:2px;
  left:35px;
}

.news_item_date {
  display:block;
  opacity:0.54;
  font-size:11.5px;
  font-weight:400;
  font-stretch:normal;
  font-style:normal;
  text-align:left;
  color:rgba(0,0,0,0.54);
}

.news_item_img {
  width:72px;
  object-fit:contain;
}

.news_item_title {
  display:inline-block;
  text-decoration:none;
  text-transform:uppercase;
  font-size:14.3px;
  font-weight:700;
  font-style:normal;
  letter-spacing:normal;
  text-align:left;
  color:#000;
}

.other_section {
  margin-bottom:55px;
}

.search {
  height:50px;
  position:relative;
  width:100%;
  margin:60px 0;
}

.search_input {
  width:100%;
  height:50px;
  padding-left:15px;
  background:#f4f7f6;
  opacity:0.54;
  font-size:13.5px;
  font-weight:400;
  font-stretch:normal;
  font-style:normal;
  line-height:2.96;
  letter-spacing:normal;
  text-align:left;
  color:rgba(0,0,0,0.54);
  border:none;
}

.search_input::after {
  background-image:url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
}

.search_button {
  position:absolute;
  top:0;
  right:0;
  width:50px;
  height:50px;
  border:none;
  background:#b59f5b no-repeat;
  background-image:url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-position:center center;
  background-size:20px 20px;
  cursor:pointer;
}

.email_button {
  margin-top:16px;
  width:100%;
  height:49px;
  background-color:#b59f5b;
  border:none;
  cursor: pointer;
  font-size:14.5px;
  font-weight:700;
  font-stretch:normal;
  font-style:normal;
  line-height:2.76;
  letter-spacing:normal;
  color:#fff;
  text-transform:uppercase;
}
.email_button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.email_input {
  width:100%;
  height:50px;
  border:none;
  color:rgba(0,0,0,0.54);
  background:#f4f7f6;
  opacity:0.54;
  font-size:13.5px;
  font-weight:400;
  font-stretch:normal;
  font-style:normal;
  line-height:2.96;
  letter-spacing:normal;
  padding-left:15px;
}

.tag {
  border:solid 2px #eee;
  display:block;
  text-decoration:none;
  text-transform:uppercase;
  font-size:11.5px;
  font-weight:700;
  padding:0 13px;
  margin:1px 5px 2px 0;
  color:#0f0d0e;
  line-height:2.28;
  transition: 0.3s linear;
}
.tag:hover {
  background: #b59f5b;
  color: #fff;
}

.theme {
  display:block;
  text-decoration:none;
  font-size:14.5px;
  font-weight:700;
  font-stretch:normal;
  font-style:normal;
  line-height:3;
  letter-spacing:normal;
  text-align:left;
  color:#000;
  border-bottom:solid 3px #eee;
}
.theme:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 30px;
  text-align: center;
  transition: 0.5s;
}
.post_tag:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
    transition: 0.5s; 
}
 .trend_tag:hover {
 color: #fff;
 }
 .trend:hover {
  color: #b59f5b;
 }
.tets {
  display:flex;
  flex-flow:column;
  width:100%;
}

.header_email {
  display:block;
  position:relative;
  text-transform:uppercase;
  margin:0 auto 25px;
  font-size:14.5px;
  padding-bottom:8px;
  width:100px;
  text-align:center;
}

.header_email::after {
  position:absolute;
  content:"";
  background-color:rgba(181,159,91,0.4);
  bottom:-5px;
  width:65px;
  height:2px;
  left:20px;
}

.header_tag {
  display:block;
  margin:0 auto 25px;
  text-transform:uppercase;
  font-size:14.5px;
  padding-bottom:11px;
  border-bottom:solid 2px rgba(181,159,91,0.4);
  width:66px;
  text-align:center;
}

.header_theme {
  display:block;
  position:relative;
  margin:0 auto 10px;
  padding-bottom:9px;
  width:66px;
  text-align:center;
  text-transform:uppercase;
  font-size:14.5px;
  font-weight:700;
}

.header_theme::after {
  position:absolute;
  content:"";
  background-color:rgba(181,159,91,0.4);
  bottom:-5px;
  width:65px;
  height:2px;
  left:0;
}

.header_products {
  padding-bottom:14px;
  position:relative;
  text-transform:uppercase;
  line-height:0.6;
  text-align: center;
  margin: 0 auto;
}

.products {
  display:flex;
  justify-content:space-between;
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
  padding:40px 15px;
}

.product {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  font-size:14px;
  max-width:300px;
}

.product__description {
  font-size:15px;
  font-weight:400;
  font-stretch:normal;
  font-style:normal;
  line-height:1.5;
  letter-spacing:normal;
  text-align:left;
  color:#0f0d0e;
}

.product__img {
  margin-right:auto;
  margin-left:auto;
  display:block;
}

.product__body {
  padding:18px;
  outline-offset:11px;
  outline:2px solid #b59f5b;
  flex-grow: 1;
}

.product__title {
  margin-top:0;
  margin-bottom:10px;
  text-decoration:none;
  text-transform:uppercase;
  font-stretch:normal;
  font-style:normal;
  line-height:1.35;
  letter-spacing:.4px;
  text-align:left;
  color:#0f0d0e;
}

.product__footer {
  padding-top:20px;
  display:flex;
  justify-content:space-between;
}

.product__price {
  font-size:24px;
  font-weight:700;
  color:#222;
  line-height:1;
  display:flex;
}

.product__price_old {
  text-decoration:line-through;
  font-size:14px;
  margin-bottom:5px;
}

.product__rub {
  margin-left:.2em;
}

.product__button {
  border:none;
  background-color:#b59f5b;
  padding:.6em 1.8em;
  cursor:pointer;
  text-transform:uppercase;
  letter-spacing:.5px;
  font-family:inherit;
  font-size:14px;
  font-weight:700;
  color:#222;
}

.sup {
  vertical-align:super;
  font-size:12px;
  color:#b59f5b;
}

.address {
  display:flex;
  gap:30px;
  justify-content:center;
  background-color:#f4f7f6;
  max-width:1200px;
  margin:4px auto;
  padding:30px 15px;
}

.s1 {
  background-image:url(../svg/001-pinterest.svg);
}

.s2 {
  background-image:url(../svg/003-tumblr.svg);
}

.s3 {
  background-image:url(../svg/004-twitter.svg);
}
.s4 {
  background-image:url(../svg/002-facebook-logo.svg);
}

.s5 {
  background-image:url(../svg/005-instagram.svg);
}

.social_icon {
  display:block;
  width:22px;
  height:22px;
  background-repeat:no-repeat;
}

.Copyright {
  font-size:11.5px;
  font-weight:700;
  font-stretch:normal;
  font-style:normal;
  line-height:3.48;
  letter-spacing:normal;
  text-align:center;
  color:#999;
  margin:auto;
  text-decoration:none;
  display:block;
  margin-top:60px;
}

.header_now_trend::after,.header_products::after {
  position:absolute;
  content:"";
  background-color:rgba(181,159,91,0.4);
  bottom:-5px;
  width:65px;
  height:2px;
  left:50%;
  right:50%;
  transform:translate(-50%,-50%);
}

.now_trend,.our_things {
  display:flex;
  min-height:320px;
  justify-content:space-between;
  align-items:stretch;
}

.trend_tag_block,.post_tag_list {
  display:flex;
  flex-wrap: wrap;
  gap:15px;
  padding-bottom:10px;
}

/* бургер меню */

.menu__btn {
  display: flex; 
  align-items: center; 
  position: fixed;
  top: 50px;
  left: 90%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  transition-duration: .25s;
  background-color: #fff;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  transition-duration: .25s;
  top: 50px;
  width: 300px;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.menu__item {
  display: block;
  transition-duration: .25s;
  padding: 12px 24px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 90px;
}

/* конец кода бургер меню */

/* POPUP */

.popup{
  display: none;
  width:100%;
  min-height:100%;
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  position:fixed;
  z-index: 2;
  top:0px;
}
.popup .popup_content{
  margin:200px auto 0px auto;
  width:330px;
  height: 640px;
  padding:10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #000;
}

/* END POPUP */


@media (max-width: 640px) and (orientation: landscape) {
  .trend_slide {
    width: 49.8%;
    margin-bottom: 0.3%;
  }
}

@media (max-width: 640px) {
  .now_trend {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .post {
    display:flex;
    flex-direction:column;
    min-width:unset;
    max-width:390px;
    padding-bottom:40px;
    padding-top: 40px;
    border-bottom:2px solid rgba(238,238,238);
  }
  .trend_slide {
    margin-bottom: 0.3%;
  }
  .site {
    flex-wrap: wrap;
  }
  .products {
    display:flex;
    flex-wrap:wrap;
    padding-bottom: 30px;
  }
  .product {
    margin: 0 auto 30px;
  }
  .content {
    margin: 0 auto;
    width: 92vw;
    
  }
  .other {
    width: 92vw;
    margin: 0 auto;
  }
  .menu_one {
    display: none;
  }
  .about {
    font-size: 26px;
  }
  .menu {
    display: block;
  }
  h2 {
    font-size: 16px;
  }
  .post_img {
    width: 92vw;
    object-fit: cover;
  }
}
@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
  .trend_slide {
  width: 24.8% !important;
}
}

@media (min-width: 641px) and (max-width: 1200px) {
  .post {
    display:flex;
    flex-direction:column;
    min-width:unset;
    max-width:390px;
    padding-bottom:40px;
    border-bottom:2px solid rgba(238,238,238);
  }
  h2 {
    font-size: 18px;
  }
  .about {
    font-size: 40px;
  }
  .site {
    padding: 4%;
  }

  .other {
    width: 36%;
  }

  .content {
    width: 51%;
  }

  .products {
    display:flex;
    flex-wrap:wrap;
    padding: 1% 6% 6%;

  }

  .product:nth-child(2n+1) {
    padding-top: 30px;
  }
  .product:nth-child(2n+2) {
    padding-top: 30px;
  }


  .trend_slide {
    width: 49.8%;
    margin-bottom: 0.3%;
  }
  .now_trend {
    flex-wrap: wrap;
  }
  .menu_one {
    display: none;
  }
}

@media (min-width: 1201px) {
  .post_content {
   margin-left: 30px;
 }
 h2 {
  font-size: 20px;
}
.site {
  max-width:1200px;
  padding:40px 15px;
}
.other {
  max-width:272px;
}
.content {
  max-width:777px;
}
.trend_slide {
  width: 24.8%;
}
.hamburger-menu {
  display: none;
}
}
