@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: bold;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  display: inline-block;
  font-family: OpenSans;
  letter-spacing: normal;
  text-align: left;
}
ul {
  padding: 0;
  margin: 0;
}
body {
  font-family: OpenSans;
}

.menu_one {
  display: flex;
  gap: 35px;
}

.menu_item {
  text-decoration: none;
  text-transform: uppercase;
  font-family: OpenSans;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.header {
  background: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg)
    no-repeat;
  background-size: cover;
  background-color: black;
  background-blend-mode: screen;
  min-height: 450px;
  background-position: center center;
  color: #fff;
  text-align: center;
  margin-bottom: 64px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.header::before {
  content: "";
  display: block;
  position: absolute;
  background-color: black;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 1;
}

body {
  margin: 0px auto;
  font-family: OpenSans;
}

.logo {
  position: relative;
  z-index: 2;
  width: 179px;
  height: 40px;
  object-fit: contain;
}
.menu {
  position: relative;
  z-index: 2;
  width: 1200px;
  display: flex;
  font-family: OpenSans;
  justify-content: space-between;
  gap: 35px;
  padding: 40px 15px;
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}
.about {
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  text-align: center;
  margin: 15px auto;
  font-size: 44.5px;
  font-family: OpenSans;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  color: #fff;
}

.content {
  display: flex;
  flex-flow: column;
  width: 777px;
  align-self: baseline;
  align-content: flex-start;
}
.site {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 15px;
  flex-direction: row;
  flex-flow: row wrap;
}
.post_tag_list {
  display: flex;
  gap: 15px;
}
.post_tag {
  text-decoration: none;
  text-transform: uppercase;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: bold;
  color: #b59f5b;
  text-align: left;
  /*line-height: 1.7;*/
}
.post_title {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: OpenSans;
  font-size: 19.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: 0.4;
  text-align: left;
  color: #0f0d0e;
  margin: 0px 0px 15px;
}
.post_author {
  display: block;
  font-size: 11.5px;
  color: #888;
  margin-bottom: 30px;
}
.author {
  font-size: 11.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.4;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  margin: 0px 0px 0px 10px;
}
.post_text {
  font-family: OpenSans;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #0f0d0e;
}
.post {
  display: flex;
  margin: 0px auto 60px;
  min-width: 600px;
  /* word-break: break-all;*/
}
.post_content {
  margin-left: 30px;
}
.post_img {
  width: 380px;
  object-fit: contain;
}

.news {
  display: flex;
  /*  max-width: 272px;*/
  margin-top: 22px;
}
.news_content {
  margin-left: 15px;
}
.header_news {
  display: block;
  margin: 0px auto 30px;
  padding-bottom: 14px;
  position: relative;
  width: 130px;
  text-align: center;
  letter-spacing: normal;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 0.6;
}

.header_news::after {
  position: absolute;
  content: "";
  background-color: rgba(181, 159, 91, 0.4);
  bottom: -5px;
  width: 65px;
  height: 2px;
  left: 35px;
}
.news_item_date {
  display: block;
  opacity: 0.54;
  font-family: OpenSans;
  font-size: 11.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.54);
}

.news_item_img {
  width: 72px;
  object-fit: contain;
}

.news_item_title {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: OpenSans;
  font-size: 14.3px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.other {
  width: 272px;
}

.other_section {
  margin-bottom: 55px;
}

.post_text {
  font-family: OpenSans;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #0f0d0e;
}
.search {
  width: 100%;
  height: 50px;
}
.search_input {
  /* width: 100%;*/
  height: 50px;
}
.search_input::after {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
}
.search {
  position: relative;
  width: 100%;
  margin: 60px 0px;
}
.search_input {
  width: 100%;
  height: 50px;
  padding-left: 15px;
  background: #f4f7f6;
  opacity: 0.54;
  font-family: OpenSans;
  font-size: 13.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.96;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.54);
  border: none;
}
.search_button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 50px;
  height: 50px;
  border: none;
  background: #b59f5b no-repeat;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-position: center center;
  background-size: 20px 20px;
  cursor: pointer;
}
.email_button {
  margin-top: 16px;
  width: 100%;
  height: 49px;
  background-color: #b59f5b;
  border: none;
  font-size: 14.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.76;
  letter-spacing: normal;
  color: #fff;
  text-transform: uppercase;
}
.email_input {
  width: 100%;
  height: 50px;
  border: none;
  color: rgba(0, 0, 0, 0.54);
  background: #f4f7f6;
  opacity: 0.54;
  font-family: OpenSans;
  font-size: 13.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.96;
  letter-spacing: normal;
  padding-left: 15px;
}
.tag {
  border: solid 2px #eee;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: OpenSans;
  font-size: 11.5px;
  font-weight: bold;
  padding: 0px 13px;
  margin: 1px 5px 2px 0px;
  color: #0f0d0e;
  line-height: 2.28;
}
.theme {
  display: block;
  text-decoration: none;
  font-family: OpenSans;
  font-size: 14.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  border-bottom: solid 3px #eee;
}
.tets {
  display: flex;
  flex-flow: column;
  width: 100%;
}
li {
  display: inline-block;
}
.header_email {
  display: block;
  position: relative;
  text-transform: uppercase;
  margin: 0px auto 25px;
  font-size: 14.5px;
  padding-bottom: 8px;
  width: 100px;
  text-align: center;
}

.header_email::after {
  position: absolute;
  content: "";
  background-color: rgba(181, 159, 91, 0.4);
  bottom: -5px;
  width: 65px;
  height: 2px;
  left: 20px;
}
.header_tag {
  display: block;
  margin: 0px auto 25px;
  text-transform: uppercase;
  font-size: 14.5px;
  padding-bottom: 11px;
  border-bottom: solid 3px rgba(181, 159, 91, 0.4);
  width: 66px;
  text-align: center;
}

.header_tag::after {
  position: absolute;
  content: "";
  background-color: rgba(181, 159, 91, 0.4);
  bottom: -5px;
  width: 65px;
  height: 2px;
  left: 0;
}
.header_theme {
  display: block;
  position: relative;
  margin: 0px auto 10px;
  padding-bottom: 9px;
  width: 66px;
  text-align: center;
  text-transform: uppercase;
  font-family: OpenSans;
  font-size: 13.5px;
  font-weight: bold;
}

.header_theme::after {
  position: absolute;
  content: "";
  background-color: rgba(181, 159, 91, 0.4);
  bottom: -5px;
  width: 65px;
  height: 2px;
  left: 0;
}
.sup {
  vertical-align: super;
  font-size: 12px;
  color: #b59f5b;
}
.address {
  display: flex;
  gap: 70px;
  justify-content: center;
  background-color: #f4f7f6;
  width: 1200px;
  margin: 4px auto;
  padding: 30px 15px 30px;
}
.s1 {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
}
.s2 {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}
.s3 {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
}
.social_icon {
  display: block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
}

.Copyright {
  font-size: 11.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.48;
  letter-spacing: normal;
  text-align: center;
  color: #999;
  margin-top: 60px;
  margin: auto;
  text-decoration: none;
  display: block;
  margin-top: 60px;
}
